body,div,td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    word-wrap: break-word;
}

body {
    background-color: #fff;
    text-align: left;
}

a img {
    border: 0 none;
    vertical-align: middle;
}

a {
    text-decoration: underline;
}

a:hover {
    color: #456314;
}

a:active {
    color: #7db223;
}

a:visited {
    color: #7db223;
}

.wrapper {
    width: 1024px;
    min-width: 1024px;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto; /* fix max-width incompatibility in IE6 */
    width: expression(document.body.clientWidth > 1024 ? "1024px" : "auto");
    overflow: hidden;
    display: block;
}

.menu {
    width: 230px;
    vertical-align: top;
    text-align: center;
    margin-right: 5px;
    word-wrap: break-word;
}

.content {
    width: 950px;
    height: auto;
    vertical-align: top;
    text-align: left;
}

.banner {
    margin-bottom:5px;
}

.action-column {
    text-align: center;
    width: 120px !important;
}

.ui-selectmanymenu {
    width: 155px !important;
    height: 100px !important;
}

.dialog {
    width: auto;
}

.col1 {
    vertical-align: top;
    font-weight: bold;
}

.col2 {
    vertical-align: top;
}

.col3 {
    vertical-align: top;
}

/* light red */
.col-red {
   background-color:#ff7575;
   background-image:none;
}

/* light grey */
.col-normal {
   background-color:#D3D3D3;
   background-image:none;
}

.alignmentLeft {
 text-align : left;
 border: 1px solid black;
 background-color: orange;
}
.alignmentRight {
 text-align : right;
 border: 1px solid black;
 background-color: lime;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}